SetEnv APPLICATION_ENV production

<Directory /var/www/>
    AllowOverride All
    Options -Indexes +FollowSymLinks -MultiViews
</Directory>
<DirectoryMatch .*\.git/.*>
        Require all denied
</DirectoryMatch>