---
  server_hostname: LEMP

  nginx_default_port: 80

  nginx_user: "www-data"
  nginx_worker_processes: 4
  nginx_worker_connections: 768
  nginx_keepalive_timeout: 65
  nginx_types_hash_max_size: 2048

  mysql_root_password: testretest
  mysql_client_port: 3306
  mysql_client_socket: "/var/run/mysqld/mysqld.sock"
  mysqld_safe_socket: "/var/run/mysqld/mysqld.sock"
  mysqld_nice: 0
  mysqld_user: "mysql"
  mysqld_pid_file: "/var/run/mysqld/mysqld.pid"
  mysqld_socket: "/var/run/mysqld/mysqld.sock"
  mysqld_port: 3306
  mysqld_basedir: "/usr"
  mysqld_datadir: "/var/lib/mysql"
  mysqld_tmpdir: "/tmp"
  mysqld_lc-messages-dir: "/usr/share/mysql"

  mysqld_bind_address: "127.0.0.1"
  mysqld_key_buffer: "16M"
  mysqld_max_allowed_packet: "16M"
  mysqld_thread_stack: "192K"
  mysqld_thread_cache_size: 8

  mysqld_query_cache_limit: "1M"
  mysqld_query_cache_size: "16M"
  mysqld_log_error: "/var/log/mysql/error.log"

  mysqld_expire_logs_days: 10
  mysqld_max_binlog_size: "100M"

  mysqldump_max_allowed_packet: "16M"

  isamchk_key_buffer: "16M"

  php_max_execution_time: 30
  php_max_input_time: 60
  php_memory_limit: "128M"
  php_error_reporting: "E_ALL & ~E_DEPRECATED & ~E_STRICT"
  php_post_max_size: "8M"
  php_file_uploads: "On"
  php_upload_max_filesize: "2M"
  php_max_file_uploads: 20

  php5_fpm_max_requests: 500
  php5_fpm_max_children: 20


  monit_daemon_refresh_time: 120
  monit_httpd_port: 2812
  monit_allow_ip: "0.0.0.0"
  monit_allow_netmask: "0.0.0.0"

  monit_allow_username: "admin"
  monit_allow_pass: "admin"
  monit_mailserver: "localhost"

  monit_alert_mail: "your@e-mail.com"
  monit_mail_from: "monit@e-mail.com"
  monit_mail_to: "your@e-mail.com"

  monit_check_nginx: True
  monit_check_nginx_timeout: 15
  monit_check_nginx_ports:
    - 80
    #- 8080 

  monit_check_mysql: True
  monit_check_mysql_timeout: 15
  monit_check_mysql_ports:
    - 3306
  monit_check_mysql_cpu_value: '90%'
  monit_check_mysql_cpu_cycles: 20
  monit_check_mysql_cpu_restart: True

  monit_check_php5_fpm: True
  monit_check_php5_fpm_timeout: 60
  monit_check_php5_fpm_ports:
    - 9000

  monit_check_varnish: False
  monit_check_varnish_ports:
    - 80


  monit_check_apache2: False
  monit_check_apache2_timeout: 15
  monit_check_apache2_ports:
    - 80
  monit_check_apache2_cpu_value: '90%'
  monit_check_apache2_cpu_cycles: 20
  monit_check_apache2_cpu_restart: True

  #Generate password
  #python -c 'import crypt; print crypt.crypt("This is my Password", "$1$SomeSalt$")'

  users: 
    - username: git
      group: www-data
      name: git
      groups: ['www-data']
      ssh_key: git_key
      authorized_keys: 
        - "ssh-rsa INSERT KEY HERE"
        - "ssh-rsa INSERT OTHER KEY HERE"
      password: $1$SomeSalt$/C8g114aMctC8YrNUaYD7/ #gitpass
      bash_rc: "test"
      profile: "test"
      sudo: yes
      mysql_access: yes
  servers:
    - "bitbucket.org"