[apache-nohome]

enabled  = true
port     = {{ apache_default_port | default("http") }},https
filter   = apache-nohome
logpath  = /var/log/apache*/*error.log
maxretry = {{ fail2ban_apachenohome_maxretry | default(10) }}
findtime = {{ fail2ban_apachenohome_findtime | default(30) }}
bantime = {{ fail2ban_apachenohome_bantime | default(60) }}
ignoreip = 127.0.0.1/8 {{ fail2ban_ignoreip | default("") }}
