[apache-wplogin]
enabled  = true
port     = {{ varnish_port | default("http") }},https
filter   = apache-wplogin
logpath  = /var/log/apache*/*access.log
maxretry = {{ fail2ban_wordpresslogin_maxretry | default(100) }}
findtime = {{ fail2ban_wordpresslogin_findtime | default(600) }}
bantime = {{ fail2ban_wordpresslogin_bantime | default(3600) }}