[ssh]

enabled  = true
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = {{ fail2ban_ssh_maxretry | default(3) }}
findtime = {{ fail2ban_ssh_findtime | default(30) }}
bantime = {{ fail2ban_ssh_bantime | default(60) }}