[defaults]
;your dinamic hosts

;static hosts
;to keep our secrets secured, git ignores inventory content, check my.hosts.example for file example
hostfile=./inventory/my.hosts

;our default ssh key used to enter in our machines
;files/ssh_keys content is ignored by git
;master_key and master_key.pub are required
private_key_file=./files/ssh_keys/master_key

;Host key checking disabled
host_key_cheking=False
ssh_args = -o UserKnownHostsFile=/dev/null

;default remote user
remote_user=root