[Unit]
Description=Varnish HTTP accelerator

[Service]
Type=forking
LimitNOFILE={{ varnish_NFILES | default(131072) }}
LimitMEMLOCK={{ varnish_MEMLOCK | default(82000) }}
ExecStartPre=/usr/sbin/varnishd -C -f /etc/varnish/default.vcl
ExecStart=/usr/sbin/varnishd -a :{{ varnish_port | default(80) }} -T localhost:6082 -f /etc/varnish/default.vcl -S /etc/varnish/secret -s malloc,{{ varnish_malloc | default('256m') }}
ExecReload=/usr/share/varnish/reload-vcl

[Install]
WantedBy=multi-user.target